@media screen and (max-width:500px){
    .search img{
        width: 15px;
    }
    .search button{
    width: 40px;
    height: 40px;
    }
    .weather-icon{
        width: 150px;
        margin-top: 20px;
    }
    .search input{
        padding: 8px 20px;
        height: 90%; 
    }
    .weather h1{
        font-size: 30px;
        font-weight: 300;
    }
    .col img{
        width: 50px;
    }
    .details{
        
        gap: 5px;
    }
    .card{
        margin-top: 20px;
        border-radius: 15px;
    }
    .col{
        display: flex;
        flex-direction: column;
        gap: 20px;
    }
    .card{
        padding: 30px 25px;
    }
}   